<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOLEAGRI</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    @* <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> *@

</head>
<body>
    <header>

        <nav class="=px-3 navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3 text-center" style="padding:40px">
            <a class="navbar-brand text-white" asp-area="" asp-controller="Estoque" asp-action="Index">TOLEAGRI</a>
            <div class="container-fluid  mb-10 justify-content:space-between px-3" style=" justify-content:space-between">
                <div>
                    <a type="button" class="text-white" asp-controller ="Registro" asp-action="Registro" class="btn btn-outline-dark">Registro</a>
                    <a type="button" class="text-white" asp-controller="Registro" asp-action="Registro" class="btn btn-outline-dark">Registro</a>
                @* <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
                </div>
                </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        <div id="modalTOLEAGRI"></div>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            teste
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>