@model TOLEAGRI.Model.Domain.RegistroPeca
@{
    Layout = null;
}


<div id="modalDeletarRegistro" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:rgb(245,245,245);">
            <form method="post" asp-action="DeletarRegistro">
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir?</p>
                    <input asp-for="Id" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark border-light" id="sim">Sim</button>
                    <button type="button" class="btn btn-dark border-light" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@* ////////// DELETAR TODOS OS REGISTROS //////////// *@

@* <div id="modalDeletarAllRegistro" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="DeletarAllRegistro">
                <input asp-for="Id" type="hidden">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir</h5>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir todos os itens?</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Sim</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div> *@

<script src="~/js/ManagerScript.js"></script>