@model TOLEAGRI.Model.Domain.Peca
@{
    Layout = null;
}


<div id="modalDeletarPeca" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content border-light">
            <form method="post" asp-action="DeletarPeca">
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir?</p>
                    <input asp-for="Id" type="hidden">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark border-light" id="sim" tabindex="1">Sim</button>
                    <button type="button" class="btn btn-dark border-light" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>




<script src="~/js/ManagerScript.js"></script>


