@model TOLEAGRI.Model.Domain.Peca

@{
    Layout = null;
}

<div id="modalEntradaEstoque" class="modal" tabindex="-1">
    <div class="modal-dialog ">
        <div class="modal-content border-light" style="background-color:#212529;color:white;">
            <form id="formEntradaEstoque" method="post" asp-action="EntradaEstoque" >
                <div class="modal-header">
                    <h5 class="modal-title">Entrada de Estoque</h5>
                </div>
                <div class="modal-body" >
                    <div class="mb-1 ">
                        <input asp-for="Id" id="Id" name="Id" type="hidden">
                        <input required asp-for="Data" type="date" class="form-control mb-2" id="Data" placeholder="Data">
                        <input asp-for="EntradaOuSaida" type="hidden" value="Entrada" id="EntradaDisabled">
                        <input required asp-for="CodigoSistema" type="text" class="form-control mb-2" id="CodigoSistema" placeholder="Código">
                        <input required asp-for="Locacao" type="text" class="form-control mb-2" id="Locacao" placeholder="Locação">
                        <input required asp-for="Quantidade" value="" type="number" class="form-control mb-2" id="Quantidade" placeholder="Quantidade">
                        <input required asp-for="NotaOuPedido" type="int" class="form-control mb-2" id="NotaOuPedido" placeholder="Nota Fiscal/Pedido">
                        <input required asp-for="Observacao" type="text" class="form-control mb-2" id="Observacao" placeholder="Observação">
                        <input asp-for="Usuario" type="text" class="form-control mb-2" id="Usuario" placeholder="Usuário">
                        <input asp-for="Marca" type="text" class="form-control mb-2" id="Marca" placeholder="Marca">
                        <input asp-for="Modelo" type="text" class="form-control mb-2" id="Modelo" placeholder="Modelo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark border-light">Salvar</button>
                    <button type="button" class="btn btn-dark border-light" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/js/EstoqueScript.js"></script>
<script src="~/js/ManagerScript.js"></script>