@model TOLEAGRI.Model.Domain.Estoque

@{
    Layout = null;
}

<div id="modalSaidaEstoque" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-action="SaidaEstoque">
                <div class="modal-header">
                    <h5 class="modal-title">Saída do Estoque</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input asp-for="EstoqueId" type="hidden">
                        <input required asp-for="DataSaida" type="date" class="form-control mb-2" id="DataSaida">
                        <input required asp-for="CodigoSistema" type="text" class="form-control mb-2" id="CodigoSistema" placeholder="Código">
                        <input required asp-for="Locacao" type="text" class="form-control mb-2" id="Locacao" placeholder="Locação">
                        <input asp-for="Marca" type="text" class="form-control mb-2" id="Marca" placeholder="Marca">
                        <input asp-for="Modelo" type="text" class="form-control mb-2" id="Modelo" placeholder="Modelo">
                        <input required asp-for="QuantidadeSaida" type="text" class="form-control mb-2" id="QuantidadeSaida" placeholder="Quantidade de Saída">
                        <input required asp-for="Observacao" type="text" class="form-control mb-2" id="Observacao" placeholder="Observação">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Salvar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $('#codigoSistema').keypress(function (event) {
        if (event.which === 13) { // 13 é o código da tecla "Enter"
            event.preventDefault(); // Previne o comportamento padrão de submissão do formulário
            var codigoSistema = $(this).val();
            $.ajax({
                url: '/Estoque/BuscarOuCriarEstoque',
                type: 'POST',
                data: { codigoSistema: codigoSistema },
                success: function (response) {
                    // Atualize os campos do modal com as informações retornadas
                }
            });
        }
    });
</script>