
@media (min-width: 768px) {
    html {
        min-height: 100%;
        background-size: cover;
    }
}

.layout {
    background: linear-gradient(to bottom, rgb(14 52 137),rgb(5 12 54 / 70%),rgb(11 32 104 / 50%),rgb(67 76 102 / 30%));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.btn, .btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus, .form-control{
    box-shadow: 0 0 0 0.1rem black, 0 0 0.60rem #258cfb;
}

input::placeholder {
    opacity: 1;
    font-weight: 700;
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

    .custom-radio input[type="radio"] + .form-check-label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: unset;
    }

        .custom-radio input[type="radio"] + .form-check-label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #007bff;
            border-radius: 100%;
            background: #fff;
        }

    .custom-radio input[type="radio"]:checked + .form-check-label::before {
        background-color: #007bff;
        box-shadow: inset 0 0 0 3px #fff;
    }

.logo {
    display: flex;
    mix-blend-mode: multiply;
    filter:brightness(100%)
}

/*grayscale(), sepia(), saturate(), opacity(), brightness(), contrast() e invert().*/

.container {
    padding: 5px;
    font-weight: 250;
}

.a {
    cursor: pointer;
    opacity:1
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:18px;
}

.LoginManager {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:100px;
}

.barra_tarefas{
    display:flex;
    justify-content:space-between;
    margin-bottom:12px
}

.search_bar{
    display:flex;
}

.modal {
    font-weight: 200;

}


