html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.html {
  position: relative;
  min-height: 100%;
}

/*header {
    background: #393939;
}*/

.body {
    margin-bottom: 60px;
    /*background: #F7F5F4;*/
    font-weight: bold;
    
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

    .custom-radio input[type="radio"] + .form-check-label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: unset;
    }

        .custom-radio input[type="radio"] + .form-check-label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 20px;
            border: 2px solid #007bff;
            border-radius: 100%;
            background: #fff;
        }

    .custom-radio input[type="radio"]:checked + .form-check-label::before {
        background-color: #007bff;
        box-shadow: inset 0 0 0 3px #fff;
    }

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    padding:15px;
}

.a {
    cursor: pointer;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:18px;
}

.login {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

LoginManager {
    height: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}