html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.html {
  position: relative;
  min-height: 100%;
}

/*header {
    background: #393939;
}*/

.body {
    margin-bottom: 60px;
    /*background: #F7F5F4;*/
    font-weight: bold;
    
}

.custom-radio input[type="radio"] {
    position: absolute;
    opacity: 0;
}

    .custom-radio input[type="radio"] + .form-check-label {
        position: relative;
        padding-left: 35px;
        cursor: pointer;
        display: inline-block;
    }

        .custom-radio input[type="radio"] + .form-check-label::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 25px;
            height: 25px;
            border: 1px solid #007bff;
            border-radius: 50%;
            background: #fff;
        }

    .custom-radio input[type="radio"]:checked + .form-check-label::before {
        background-color: #007bff;
        box-shadow: inset 0 0 0 4px #fff;
    }



.a {
    cursor: pointer;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
